### fillna()

In [1]:
import pandas as pd

In [4]:
data = {'a': [1, 2, 3, None], 'b': [5, None, 7, 8], 'c': [9, None, 11, None], 'd': [13, 14, None, 16]}
df = pd.DataFrame(data)
df

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  NaN   NaN  14.0
2  3.0  7.0  11.0   NaN
3  NaN  8.0   NaN  16.0

### fill methods
- 'ffill' and 'pad' uses the previous valid values to fill the next 'NaN'
- 'backfill' and 'bfill' uses the last valid value to fill the previous 'NaN'

In [ ]:
df.ffill()      # It is same as df.fillna(method='ffill') although this is not good method

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  5.0   9.0  14.0
2  3.0  7.0  11.0  14.0
3  3.0  8.0  11.0  16.0

In [ ]:
# If the last value is NaN, then it won't change
df.bfill()      # It is same as df.fillna(method='bfill') although this is not good method

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  7.0  11.0  14.0
2  3.0  7.0  11.0  16.0
3  NaN  8.0   NaN  16.0

In [ ]:
df.ffill(axis=1)     # You can define also an axis

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0  2.0   2.0  14.0
2  3.0  7.0  11.0  11.0
3  NaN  8.0   8.0  16.0

### limit defines the maximum amount of replacements to do per NaN per row or column

In [ ]:
df.fillna(value='??', limit=1, axis=0)    # Will replace one value per row or column

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0   ??    ??  14.0
2  3.0  7.0  11.0    ??
3   ??  8.0   NaN  16.0

In [ ]:
df.fillna(value=':)')      # Without limit

     a    b     c     d
0  1.0  5.0   9.0  13.0
1  2.0   :)    :)  14.0
2  3.0  7.0  11.0    :)
3   :)  8.0    :)  16.0