## Timestamp and DatetimeIndex

In [3]:
import pandas as pd

#### Timestamp represents a single instant in time

In [4]:
pd.Timestamp('1998/8/12')     # Crteating a timestamp (Check the possible arguments)

Timestamp('1998-08-12 00:00:00')

#### The constructor is quite flexible with the formats

In [5]:
def display_timestamp(text):
    print(pd.Timestamp(text))

display_timestamp('2022-6-22')  
display_timestamp('2023/1/18')  
display_timestamp('2024.11.15')  
display_timestamp('2025 Aug 12')

2022-06-22 00:00:00
2023-01-18 00:00:00
2024-11-15 00:00:00
2025-08-12 00:00:00

#### We can also pass in timestamps

In [6]:
pd.Timestamp(187879838692901790)     # Time elapsed since 1975 in nanoseconds

Timestamp('1975-12-15 12:50:38.692901790')

In [7]:
pd.Timestamp(187877673.787753819, unit='s')    # We can also specify it to be a different unit

Timestamp('1975-12-15 12:14:33.787753820')

#### Another way to create timestamp object

In [8]:
pd.Timestamp(1998, 8, 12, 12, 8, 38)

Timestamp('1998-08-12 12:08:38')

In [9]:
pd. Timestamp(year=2025, month=8, day=7, hour=13, minute=48, second=52)

Timestamp('2025-08-07 13:48:52')

#### ```to_datetime()``` is similar to ```timestamp()``` but more flexible (can also convert lists)

In [10]:
def dispaly_result(text:str):
    print(pd.to_datetime(text))

dispaly_result('2025/12/8')
dispaly_result(1799370912009)

2025-12-08 00:00:00
1970-01-01 00:29:59.370912009

#### Datatimeindex is collection of Timestamp objects

In [11]:
pd.to_datetime(['2022.6.22', '1998.8.12'])     # Also works with lists (returns datetimeIndex)

DatetimeIndex(['2022-06-22', '1998-08-12'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.to_datetime(['1998', '2025-12-8', '12:20', 166887812379172], errors='coerce', unit='ns')

DatetimeIndex([          '1998-01-01 00:00:00',
                         '2025-12-08 00:00:00',
                         '2025-08-07 12:20:00',
               '1970-01-02 22:21:27.812379172'],
              dtype='datetime64[ns]', freq=None)

In [13]:
pd.to_datetime(['1998', '2099.99.10'], errors='ignore')      # 'Ignore' will just not convert it 
                                                             # 'coerse' will convert to NaT if it's not a valid timestamp

C:\Users\ACER\AppData\Local\Temp\ipykernel_1788\2499495972.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  pd.to_datetime(['1998', '2099.99.10'], errors='ignore')      # 'Ignore' will just not convert it

Index(['1998', '2099.99.10'], dtype='object')

## date_range()
- It is used to create a DatetimeIndex

In [14]:
pd.date_range(start='2025.01.01', end='2025.02.28')

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
               '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
               '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09',
               '2025-02-10', '2025-02-11', '2025-02-12', '2025-02-13',
               '2025-02-14', '2025-02-15', '2025-02-16', '2025-02-17',
               '2025-02-18', '2025-02-19', '2025-02-20', '2025-02-21',
               '2025-02-22', '2025-02-23', '2025-02-24', '2025-02-25',
               '2025-02-26', '2025-02-27', '2025-02-28'],
              dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range(start='2025.01.01', end='2025.08.12', freq='ME')    #  "freq=ME" will make it monthly

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31'],
              dtype='datetime64[ns]', freq='ME')

##### But what if we want to start each month from its first day?

In [ ]:
pd.date_range(start='2025.01.01', end='2025.08.12', freq='MS')    # MS is month-start

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01', '2025-07-01', '2025-08-01'],
              dtype='datetime64[ns]', freq='MS')

##### Aliases for freq: https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases

In [ ]:
pd.date_range(start='2025.01.01', end='2025.01.31', periods=20)      # Will splits it into periods

DatetimeIndex([          '2025-01-01 00:00:00',
               '2025-01-02 13:53:41.052631578',
               '2025-01-04 03:47:22.105263157',
               '2025-01-05 17:41:03.157894736',
               '2025-01-07 07:34:44.210526315',
               '2025-01-08 21:28:25.263157894',
               '2025-01-10 11:22:06.315789473',
               '2025-01-12 01:15:47.368421052',
               '2025-01-13 15:09:28.421052631',
               '2025-01-15 05:03:09.473684210',
               '2025-01-16 18:56:50.526315789',
               '2025-01-18 08:50:31.578947368',
               '2025-01-19 22:44:12.631578947',
               '2025-01-21 12:37:53.684210526',
               '2025-01-23 02:31:34.736842105',
               '2025-01-24 16:25:15.789473684',
               '2025-01-26 06:18:56.842105263',
               '2025-01-27 20:12:37.894736842',
               '2025-01-29 10:06:18.947368421',
                         '2025-01-31 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [20]:
pd.date_range(start='2025.01.01', periods=12)

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(end='2025.01.01', periods=12, freq='D')    # We can set a frequency

DatetimeIndex(['2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28',
               '2024-12-29', '2024-12-30', '2024-12-31', '2025-01-01'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range(end='2025.01.01', periods=12, freq='ns')    # It can be very short (nano-second)

DatetimeIndex(['2024-12-31 23:59:59.999999989',
               '2024-12-31 23:59:59.999999990',
               '2024-12-31 23:59:59.999999991',
               '2024-12-31 23:59:59.999999992',
               '2024-12-31 23:59:59.999999993',
               '2024-12-31 23:59:59.999999994',
               '2024-12-31 23:59:59.999999995',
               '2024-12-31 23:59:59.999999996',
               '2024-12-31 23:59:59.999999997',
               '2024-12-31 23:59:59.999999998',
               '2024-12-31 23:59:59.999999999',
                         '2025-01-01 00:00:00'],
              dtype='datetime64[ns]', freq='ns')

In [ ]:
# pd.date_range(start='2025.01.01', end='2025.08.08', periods=12, freq='ME')     

# We can't define a freqency if we have provided both start and end time

## Period and period index

In [33]:
# Timestamps are a specific moment
pd.Timestamp('2025.08.08')

Timestamp('2025-08-08 00:00:00')

#### Periods represent a general timeframe

In [ ]:
pd.Period('2025.08.08')     # refers to the entire day of that date

Period('2025-08-08', 'D')

#### Periods have very similar syntax to Timestamps

In [35]:
pd.period_range(start='2025.01.01', end='2025.01.31')    # Will create a PeriodIndex of days

PeriodIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
             '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
             '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
             '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
             '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
             '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
             '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
             '2025-01-29', '2025-01-30', '2025-01-31'],
            dtype='period[D]')

In [38]:
pd.period_range(start='2025.01.01', end='2025.12.31', freq='M')    # we can define frequency also

PeriodIndex(['2025-01', '2025-02', '2025-03', '2025-04', '2025-05', '2025-06',
             '2025-07', '2025-08', '2025-09', '2025-10', '2025-11', '2025-12'],
            dtype='period[M]')

#### PeriodIndex can be converted to DatetimeIndex using the followinhg mwthod

In [39]:
pd.period_range(start='2025.01.01', end='2025.12.31').to_timestamp()

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10',
               ...
               '2025-12-22', '2025-12-23', '2025-12-24', '2025-12-25',
               '2025-12-26', '2025-12-27', '2025-12-28', '2025-12-29',
               '2025-12-30', '2025-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [ ]:
# Also works the other way around
pd.date_range(start='2025.01.01', end='2025.12.31').to_period()

PeriodIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
             '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
             '2025-01-09', '2025-01-10',
             ...
             '2025-12-22', '2025-12-23', '2025-12-24', '2025-12-25',
             '2025-12-26', '2025-12-27', '2025-12-28', '2025-12-29',
             '2025-12-30', '2025-12-31'],
            dtype='period[D]', length=365)