## Timedelta and TimedeltaIndex

#### Timedelta()
- if you've ever watched F1 or practically any racing show, you'll be quite familiar with the concept of delta time, i.e, the time it took to complete a certain section of a race track. And to put it in non racing terms, it's the time between two timestamps.

In [1]:
import pandas as pd

In [ ]:
start_time = pd.Timestamp('2025.01.01  00:00')
end_time = pd.Timestamp('2025.01.01  00:02')

# difference between two timestamps
elapsed_time = end_time - start_time
elapsed_time                            # Will return a time delta object

Timedelta('0 days 00:02:00')

#### to_timedelta()

In [ ]:
def display_timedelta(text:str):
    print(pd.to_timedelta(text))

# It's quite flexible withy the inputs
display_timedelta('1d 2h 20s')    
display_timedelta('2 days')    
display_timedelta('2 days 4 hours 30 minutes 20 seconds')    
display_timedelta('1d 2h 30m 20s')    
display_timedelta('1W 2D')    
display_timedelta(['1d 2h 20s', '2 days', '1 hour 30 seconds'])

1 days 02:00:20
2 days 00:00:00
2 days 04:30:20
1 days 02:30:20
9 days 00:00:00
TimedeltaIndex(['1 days 02:00:20', '2 days 00:00:00', '0 days 01:00:30'], dtype='timedelta64[ns]', freq=None)

In [9]:
pd.to_timedelta(['2 min', 'pikachu'], errors='coerce')     # Handling errors

TimedeltaIndex(['0 days 00:02:00', NaT], dtype='timedelta64[ns]', freq=None)

#### timedelta_range()

In [10]:
pd.timedelta_range(start='1 day', periods=3)

TimedeltaIndex(['1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq='D')

#### Using ```closed``` to exclude first or last element

In [ ]:
pd.timedelta_range(start='1D', periods=3, closed='left')

TimedeltaIndex(['1 days', '2 days'], dtype='timedelta64[ns]', freq='D')

In [ ]:
pd.timedelta_range(start='1D', periods=3, closed='right')

TimedeltaIndex(['2 days', '3 days'], dtype='timedelta64[ns]', freq='D')

In [ ]:
# we can also use freq to define frequency
pd.timedelta_range(start='1d', periods=3, freq='2h')

TimedeltaIndex(['1 days 00:00:00', '1 days 02:00:00', '1 days 04:00:00'], dtype='timedelta64[ns]', freq='2h')

##### Using ```period``` with ```end``` will split the time evbenly with timedeltas

In [14]:
pd.timedelta_range(start='1d', end='10d', periods=3)

TimedeltaIndex(['1 days 00:00:00', '5 days 12:00:00', '10 days 00:00:00'], dtype='timedelta64[ns]', freq=None)

## Accessing time attributes through .dt
- .dt allows to access our datetime objects in series or dataframes.

In [15]:
one_week = pd.date_range(start='2025.01.01', end='2025.01.07')
one_week

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [16]:
# Creating a series with datetime object
one_week_df = pd.Series(one_week).to_frame(name='Dates')
one_week_df

       Dates
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05
5 2025-01-06
6 2025-01-07

#### We can now use all the attributes related to datetime objects on these elements via .dt

In [17]:
one_week_df['Dates'].dt.day

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Dates, dtype: int32

In [18]:
one_week_df['Dates'].dt.month

0    1
1    1
2    1
3    1
4    1
5    1
6    1
Name: Dates, dtype: int32

In [19]:
one_week_df['Dates'].dt.year

0    2025
1    2025
2    2025
3    2025
4    2025
5    2025
6    2025
Name: Dates, dtype: int32

In [21]:
one_week_df['Dates'].dt.day_name()

0    Wednesday
1     Thursday
2       Friday
3     Saturday
4       Sunday
5       Monday
6      Tuesday
Name: Dates, dtype: object

In [22]:
one_week_df['Dates'].dt.to_period()

0    2025-01-01
1    2025-01-02
2    2025-01-03
3    2025-01-04
4    2025-01-05
5    2025-01-06
6    2025-01-07
Name: Dates, dtype: period[D]