### Timestamps methods and attributes
- documentation: https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html

In [1]:
import pandas as pd

In [2]:
twelve_months = pd.date_range(start='2024.01', end='2024.12', freq='MS')
df = pd.Series(data='Something', index=twelve_months).to_frame('Data')
df

                 Data
2024-01-01  Something
2024-02-01  Something
2024-03-01  Something
2024-04-01  Something
2024-05-01  Something
2024-06-01  Something
2024-07-01  Something
2024-08-01  Something
2024-09-01  Something
2024-10-01  Something
2024-11-01  Something
2024-12-01  Something

In [5]:
# We can directly refer to them via the index without .dt
ts = df.index[0]
ts.month_name()

'January'

In [7]:
ts.day_name()

'Monday'

In [8]:
ts.year

2024

#### Using this data

In [9]:
df.index

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01',
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [ ]:
df.index.month_name()     # Extract the month's name from each index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [ ]:
df['Month'] = df.index.month_name()
df                                     # Now, we have a new column with each month's name

                 Data      Month
2024-01-01  Something    January
2024-02-01  Something   February
2024-03-01  Something      March
2024-04-01  Something      April
2024-05-01  Something        May
2024-06-01  Something       June
2024-07-01  Something       July
2024-08-01  Something     August
2024-09-01  Something  September
2024-10-01  Something    October
2024-11-01  Something   November
2024-12-01  Something   December

#### Using .dt is just like using .str to access string data

In [ ]:
df['Dates'] = df.index    # Let's pretend we have a column with datetime object
df

                 Data      Month      Dates
2024-01-01  Something    January 2024-01-01
2024-02-01  Something   February 2024-02-01
2024-03-01  Something      March 2024-03-01
2024-04-01  Something      April 2024-04-01
2024-05-01  Something        May 2024-05-01
2024-06-01  Something       June 2024-06-01
2024-07-01  Something       July 2024-07-01
2024-08-01  Something     August 2024-08-01
2024-09-01  Something  September 2024-09-01
2024-10-01  Something    October 2024-10-01
2024-11-01  Something   November 2024-11-01
2024-12-01  Something   December 2024-12-01

In [ ]:
df['Dates'].day_name()      # Doesn't work
df

AttributeError: 'Series' object has no attribute 'day_name'

In [17]:
df['Days']=df['Dates'].dt.day_name()
df     # Does work

                 Data      Month      Dates       Days
2024-01-01  Something    January 2024-01-01     Monday
2024-02-01  Something   February 2024-02-01   Thursday
2024-03-01  Something      March 2024-03-01     Friday
2024-04-01  Something      April 2024-04-01     Monday
2024-05-01  Something        May 2024-05-01  Wednesday
2024-06-01  Something       June 2024-06-01   Saturday
2024-07-01  Something       July 2024-07-01     Monday
2024-08-01  Something     August 2024-08-01   Thursday
2024-09-01  Something  September 2024-09-01     Sunday
2024-10-01  Something    October 2024-10-01    Tuesday
2024-11-01  Something   November 2024-11-01     Friday
2024-12-01  Something   December 2024-12-01     Sunday