Import pandas

In [1]:
import pandas as pd

Create a DatetimeIndex with 3 different timestamps and assign it to a variable called `dates`

In [2]:
dates = pd.to_datetime(['1998-8-12', '2000-6-20', '2002-10-15'])
dates

DatetimeIndex(['1998-08-12', '2000-06-20', '2002-10-15'], dtype='datetime64[ns]', freq=None)

Find the time between each one of these dates

In [3]:
dates.to_series().diff()

1998-08-12        NaT
2000-06-20   678 days
2002-10-15   847 days
dtype: timedelta64[ns]

Create a DataFrame with the `dates` as the index and add 3 new columns that hold the day name, month name, and the year.

In [4]:
df = pd.DataFrame(index=dates, columns=['Day', 'Month', 'Year'])
df['Day'] = dates.day_name()
df['Month'] = dates.month_name()
df['Year'] = dates.year
df

                  Day    Month  Year
1998-08-12  Wednesday   August  1998
2000-06-20    Tuesday     June  2000
2002-10-15    Tuesday  October  2002

Fill in the gaps of our DataFrame with every missing date (between our 3 dates), and make sure there are no NaNs

In [5]:
start_date = df.index.min()
end_date = df.index.max()

new_dates = pd.date_range(start=start_date, end=end_date, freq='D')
new_dates

DatetimeIndex(['1998-08-12', '1998-08-13', '1998-08-14', '1998-08-15',
               '1998-08-16', '1998-08-17', '1998-08-18', '1998-08-19',
               '1998-08-20', '1998-08-21',
               ...
               '2002-10-06', '2002-10-07', '2002-10-08', '2002-10-09',
               '2002-10-10', '2002-10-11', '2002-10-12', '2002-10-13',
               '2002-10-14', '2002-10-15'],
              dtype='datetime64[ns]', length=1526, freq='D')

In [6]:
df = df.reindex(new_dates)
df['Day'] = df.index.day_name()
df['Month'] = df.index.month_name()
df['Year'] = df.index.year

df

                  Day    Month  Year
1998-08-12  Wednesday   August  1998
1998-08-13   Thursday   August  1998
1998-08-14     Friday   August  1998
1998-08-15   Saturday   August  1998
1998-08-16     Sunday   August  1998
...               ...      ...   ...
2002-10-11     Friday  October  2002
2002-10-12   Saturday  October  2002
2002-10-13     Sunday  October  2002
2002-10-14     Monday  October  2002
2002-10-15    Tuesday  October  2002

[1526 rows x 3 columns]

Convert our DatetimeIndex to a PeriodIndex which represents a whole day per date.

In [7]:
df = df.to_period('d')
df.index

PeriodIndex(['1998-08-12', '1998-08-13', '1998-08-14', '1998-08-15',
             '1998-08-16', '1998-08-17', '1998-08-18', '1998-08-19',
             '1998-08-20', '1998-08-21',
             ...
             '2002-10-06', '2002-10-07', '2002-10-08', '2002-10-09',
             '2002-10-10', '2002-10-11', '2002-10-12', '2002-10-13',
             '2002-10-14', '2002-10-15'],
            dtype='period[D]', length=1526)